body{
    background-color: #444444;
}

#matrix{
/*    width:100%;*/
/*    height:1000px;*/
    table-layout: fixed;
    width: 1000px;
}

#matrix td{
    background-color: #555555;
}

#matrix tr{
    height: 100px;
}


.oscBlock{
    width:200px;
    margin: 0px auto;
    color:#cccccc;
}

#oscilloscope{
    position: fixed;
    width: 1000px;
    height: 900px;
	pointer-events:none;
	z-index:20;
	opacity:0.5;
}
